antlr4-python3-runtime==4.9.3; python_version >= "3.6"
appdirs==1.4.4; python_version >= "3.7" and python_version < "4.0"
arrow==1.2.2; python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "4.0"
black==22.1.0; python_full_version >= "3.6.2"
boto3==1.21.39; python_version >= "3.6"
botocore==1.24.39; python_version >= "3.6"
cabby==0.1.23
cachetools==5.0.0; python_version >= "3.7" and python_version < "4.0"
carbon-black-cloud-sdk==1.3.5
cattrs==1.10.0; python_version >= "3.7" and python_version < "4.0"
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; python_version >= "3.7" and platform_system == "Darwin" and sys_platform == "linux"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
click==8.0.4; python_version >= "3.6"
colorama==0.4.4; platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.6.2" and sys_platform == "win32"
colorlog==6.6.0; python_version >= "3.6"
contextlib2==21.6.0; python_version >= "3.6"
coverage==6.2; python_version >= "3.6"
coveralls==3.3.1; python_version >= "3.5"
cpe==1.2.1
cryptography==42.0.4; python_version >= "3.7" and platform_system == "Darwin" and sys_platform == "linux"
cybox==2.1.0.21
decorator==5.1.1; python_version >= "3.5"
docopt==0.6.2; python_version >= "3.5"
flake8-colors==0.1.9
flake8-docstrings==1.6.0
flake8==4.0.1; python_version >= "3.6"
furl==2.1.3
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
importlib-metadata==4.11.3; python_version >= "3.7" and platform_system == "Darwin"
importlib-resources==5.6.0; python_version < "3.9" and python_version >= "3.7"
iniconfig==1.1.1; python_version >= "3.6"
jeepney==0.8.0; python_version >= "3.7" and platform_system == "Darwin" and sys_platform == "linux"
jmespath==1.0.0; python_version >= "3.7"
jsonschema==4.6.1; python_version >= "3.7"
keyring==23.5.0; python_version >= "3.7" and platform_system == "Darwin"
libtaxii==1.1.119
lxml==4.9.1; python_version == "2.7" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version == "2.7" or python_full_version >= "3.5.0" and python_version >= "3.5"
mccabe==0.6.1; python_version >= "3.6"
mixbox==1.0.5
mypy-extensions==0.4.3; python_version >= "3.6" and python_full_version >= "3.6.2"
mypy==0.930; python_version >= "3.6"
ordered-set==4.1.0; python_version >= "3.7"
ordereddict==1.1
orderedmultidict==1.0.1
packaging==21.3; python_version >= "3.6"
pathspec==0.9.0; python_full_version >= "3.6.2"
pika==1.2.0
platformdirs==2.5.1; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==1.0.0; python_version >= "3.6"
prompt-toolkit==3.0.29; python_full_version >= "3.6.2"
protobuf==3.20.2; python_version >= "3.7"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Darwin" and sys_platform == "linux" or python_version >= "3.7" and platform_system == "Darwin" and sys_platform == "linux" and python_full_version >= "3.4.0"
pydocstyle==6.1.1; python_version >= "3.6"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pygments==2.15.0; python_version >= "3.5"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.6"
pyrsistent==0.18.1; python_version >= "3.7"
pytest==6.2.5; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
pytz==2022.1; python_version >= "3.6"
pywin32-ctypes==0.2.0; python_version >= "3.7" and platform_system == "Darwin" and sys_platform == "win32"
pyyaml==6.0; python_version >= "3.6"
requests-cache==0.9.3; python_version >= "3.7" and python_version < "4.0"
requests==2.27.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0"
s3transfer==0.5.2; python_version >= "3.6"
schema==0.7.5
secretstorage==3.3.1; python_version >= "3.7" and platform_system == "Darwin" and sys_platform == "linux"
simplejson==3.17.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0"
snowballstemmer==2.2.0; python_version >= "3.6"
solrq==1.1.1
stix-validator==2.5.1
stix2-patterns==2.0.0; python_version >= "3.6"
stix2-validator==3.0.2
stix2==3.0.1; python_version >= "3.6"
stix==1.2.0.11
taxii2-client==2.3.0
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7" and python_full_version >= "3.6.2"
typer==0.4.0; python_version >= "3.6"
types-pyyaml==6.0.3
typing-extensions==4.1.1; python_version < "3.10" and python_full_version >= "3.6.2" and python_version >= "3.6"
url-normalize==1.4.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
urllib3==1.26.9; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
validators==0.18.2; python_version >= "3.4"
wcwidth==0.2.5; python_full_version >= "3.6.2"
weakrefmethod==1.0.3
xlrd==2.0.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
zipp==3.8.0; python_version < "3.9" and python_version >= "3.7" and platform_system == "Darwin"
